.about {
    .content {
        margin-top: 1em;
        max-width: $bc-reading-width;
    }
    .button {
    	display: table;
    	margin:2em auto;
    }
}

.about-hero {
    margin-top: $header-height-M;
    width: 100%;
    text-align: center;
    img {
        margin: 0 auto;
    }
}
