.about {
    .content {
        margin-top: 1em;
        max-width: $bc-reading-width;
    }
}

.about-hero {
    margin-top: $header-height-S;
    width: 100%;
    img {
        margin: 0 auto;
    }
}
