/*.contact {
	.main {
		@include MQ(M) {
			@include span-columns(8);
		}
	}
	.sidebar {
		@include MQ(M) {
			@include span-columns(4);
		}
	}
}*/

.contact {
	/*@include MQ(M) {
		fieldset {
			@include span-columns(8);
			@include shift(2);
			margin-bottom: 2em;
		}
	}*/
	.frm_submit {
		text-align: center;

	}
	button {
		margin: 1em  0;
		@media only screen and (max-width: $M) {
			width:100%;
		}
	}
	hr {
    padding: 0;
    border: none;
    border-top: 2px solid rgba(black, .1);
    text-align: center;
	color:rgba(black, .4);
	}
	hr:after {
		content: "or";
		display: inline-block;
		position: relative;
		top: -0.85em;
		font-size: 1.5em;
		padding: 0 0.25em;
		background: white;
	}
	.ph {
		font-family: $bc-font-family;
		text-align: center;
	}
}