
input,
label,
select {
  font-family: $bc-font-family;
}
fieldset {
  background-color: transparent;
  border: none;
  margin: 0 0 .75em;
  padding: 0;
}
label {
	font-weight: 400;
}
.main form {
	margin: 0 0 3em
}
.frm_hidden {
	display:none;
}
#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: transparent;
	border-color: #ccc;
}