
input,
label,
select {
  font-family: $bc-font-family;
}
input {
	border: 2px solid inherit;
}
fieldset {
  background-color: transparent;
  border: none;
  margin: 0 0 .75em;
  padding: 0;
}
label {
	font-weight: 400;
}
.main form {
	margin: 0 0 3em
}
.frm_hidden {
	display:none;
}
#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: transparent;
	border-color: #ccc;
}
.frm_error_style, .frm_error {
  @include flash($error-color);
}
.frm_blank_field {
	input, textarea {
		border-bottom: 2px solid darken($error-color, 60%);
		margin-bottom: 0;
	}
	textarea  {
		margin-bottom: -6px
	}
}