.hero {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	//@include image-rendering(optimizeSpeed);
	//@include clearfix;
	@media only screen and (min-width: $L) {
		background-image: url(../../../../uploads/2015/04/milford-sound-dark-1920x1255.jpg);
	}
	@media only (min-width: $M) and (max-width: $L) {
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: url(../../../../uploads/2015/04/milford-sound-dark-1920x1255.jpg);
		}
		background-image: url(../../../../uploads/2015/04/milford-sound-dark-1170x765.jpg);
	}
	@media only (min-width: $S) and (max-width: $M) {
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: url(../../../../uploads/2015/04/milford-sound-dark-1920x1255.jpg);
		}
		background-image: url(../../../../uploads/2015/04/milford-sound-dark-768x502.jpg);
	}
	@media only screen and (max-width: $S) {
		background-image: url(../../../../uploads/2015/04/milford-sound-dark-640x418.jpg);
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden; //Needed for ie
	h1 {
		font: {
			weight: 200;
			size: 1.2rem;
		}
		@include media($L) {
			font-size: 1.61rem;
		}
		text-shadow: $bc-shadow;
		margin: 0.5em 0 1.5em;
		span {
			font: {
				family: $bc-header;
				size: 2.821rem;
				weight: 700;
			}
			@media screen and (min-width: 360px) {
				font-size: 3.221rem;
			}
			@include media($M) {
				font-size: 6.521rem;
			}
			@include media($L) {
				font-size: 12.2rem;
			}
		}
	}
	p {
		line-height: 1.4em;
		margin: 0 auto 2em auto;
		color: rgba(white, .8);
	}
}

.hero-inner {
	position: absolute;
	@include transform(translate(-50%, -50%));
	left: 50%;
	top: 58%;
	@include media($M) {
		top: 53%;
	}
	@include media($L) {
		top: 50%;
	}
	width: 100%;
	color: white;
	margin: auto;
	padding: 3em 2em;
}

.home {
	.content {
		margin-top: 2em;
		max-width: 60em;
	}
	main h1 {
		font-family: $bc-header;
		text-align: center;
	}
	p {
		@include MQ(M) {
			font-size: 1.2rem;
		}
	}
}

.content.responsive {
	margin: 4em auto 3em;
	img {
		margin: 2em 0 0
	}
}

.web-design {
	background-color: #999;
	border-top: 4px solid #999;
	@media only screen and (min-width: $S) {
		background-image: url(../images/web-design-bg-s.svg);
	}
	background-position: center bottom;
	background-repeat: no-repeat;
	padding:1em 0 7em;
	@include MQ(M) {
		background-image: url(../images/web-design-bg.svg);
		min-height: 960px;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden; //Needed for ie		
		padding: 18em 0;
	}
	margin: 2em 0;
	a {
		@include transition(.2s);
		color: white;
		&:active, &:hover, &:focus {
			color: darken(white, 20);
		}
	}
}

.content.cms {
	margin: 4em auto 3em;
	img {
		margin: 0 auto
	}
}