.projects.archive {
	background-color: #eee;
}
.projects {
	main {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}
}
.project {
	position: relative;
	border-bottom: 4px solid rgba(black, .15);
	border-radius: $bc-border-radius;
	cursor: pointer;
	background-color: white;
	@include transition (all 0.2s ease-in-out);
	@include span-columns(12);
	@include display-context(table);
	margin: 0 0 1.5em;
	line-height: 0;
	@include MQ(M) {
		@include span-columns(6);
		@include omega;
	}
	@include MQ(L) {
		max-height: 293px;
		@include span-columns(3);
		@include omega;

	}
	img {
		border-bottom: 1px solid rgba(black, .1);
		max-height: 400px;
		@include MQ(M) {
			max-height: 299px;
		}
		@include MQ(L) {
			max-height: 241px;
		}
	}
	header {
		padding: 1.5em 1em;
	}
	h2 {
		margin: 0;
		font: {
			family: $bc-font-family;
			weight:400;
			size:1em;
		}
	}
}
.project:hover {
	border-bottom: 4px solid $blue;
	opacity: .8;
}