.projects.archive {
	background-color: #eee;
}
.projects {
	.main {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}
	.controls {
		font-size:0.8rem;
		label {
			display: none;
		}
		margin-bottom: 1em;
		display: inline-block;
	}
	.filter {
		font-size:0.8rem;
		background-color: rgba(black, .2);
		&:hover,
		&:focus {
			background-color: rgba(black, .4);
		}
		margin-bottom: 1em;
		@include MQ(L) { 
			padding:0.75em 1.5em;
			margin: -1.4em 0.5em 0 0;
		}
	}
	.filter.active {
		background-color: rgba(black, .6);
	}
	
	@include MQ(M) { 
		h1 {
			display: inline-block;
			margin-right: 1em;
		}
	}
}
.project {
	position: relative;
	border-bottom: 4px solid rgba(black, .15);
	border-radius: $bc-border-radius;
	cursor: pointer;
	background-color: white;
	@include span-columns(12);
	@include display-context(table);
	margin: 0 0 1.5em;
	line-height: 0;
	display: none;
	@include MQ(M) {
		@include span-columns(6);
		@include omega;
		display: none;
	}
	@include MQ(L) {
		max-height: 293px;
		@include span-columns(3);
		@include omega;
		display: none;
	}
	img {
		border-bottom: 1px solid rgba(black, .1);
		max-height: 400px;
		@include MQ(M) {
			max-height: 299px;
		}
		@include MQ(L) {
			max-height: 241px;
		}
	}
	header {
		padding: 1.5em 1em;
	}
	h2 {
		margin: 0;
		font: {
			family: $bc-font-family;
			weight:400;
			size:1em;
		}
	}
}
.project:hover {
	border-bottom: 4px solid $blue;
	opacity: .8;
}