body {
	font: {
		family: $bc-font-family;
		@include font-smoothing;
		-webkit-font-smoothing: antialiased;
		size: 100%;
	}
	color: rgba(black, .8);
	background-color: white;

	&.overflow-hidden {
		/* when primary navigation is visible, the content in the background won't scroll */
		overflow: hidden;
	}
}
h1, h2, h3, h4, h5, h6 {
	family: $bc-font-family;
	margin: 0 0 0.5em;
}
h1 {
	font-family: $bc-header;
	font-size: 2.6em;
}
a, button, .button {
	@include transition(.2s);
	color:$blue;
	&:active,
	&:hover,
	&:focus {
		color: darken($blue, 20);
	}
}
.sidebar h2 {
	font-size: 2em
}

img,
picture {
  margin: 0;
  max-width: 100%;
	height: auto;
}
