body {
	@include font-smoothing;
	@include font-feature-settings("kern", "liga", "pnum");
	-webkit-font-smoothing: antialiased;
	font: {
		family: $bc-font-family;
	}
	color: rgba(black,
	.8);
	background-color: white;
	&.overflow-hidden {
		/* when primary navigation is visible, the content in the background won't scroll */
		
		overflow: hidden;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	family: $bc-header;
	margin: 0 0 0.5em;
	font-weight: 400;
	font-size: 1.27rem;
}

h1 {
	font-size: 2rem;
	@include MQ(M) {
		font-size: 2.68rem;
	}
	font-weight: 700;
}

.ph {
	font-family: $bc-header;
}

.main h2 {
	font-family: $bc-header;
	font-size: 1.6em;
	margin: 2em 0 0.5em;
}

h3 {
	font-weight: 700;
}

a,
button,
.button {
	@include transition(.2s);
	color: $blue;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&:active, &:focus, &:hover {
		color: darken($blue, 10);
	}
	&:active,
	&:focus {
		outline: none;
	}
	
}

.sidebar h3 {
	font-size: 2em;
}

hr {
	border-left: none;
	border-right: none;
	border-top: none;
}

iframe {
	line-height: 0;
}

main {
	ul {
		margin: 0 0 2em 3em;
		list-style-type: disc;
		ul {
			list-style-type: circle;
			margin-top: 0.8em;
		}
	}
	ol {
		margin: 0 0 2em 3em;
		list-style-type: decimal;
		ol {
			list-style-type: lower-alpha;
			margin-top: 0.8em;
		}
	}
	li {
		margin: 0 0 0.5em
	}
}

.sidebar p {
	font-size: 1rem;
}