
$bc-font-family: 'Open Sans', sans-serif;
$bc-header: 'Montserrat', sans-serif;
$bc-border-radius: 10px;
$bc-reading-width: 800px;

// Font Sizes
$bc-font-size: 1em;

// Line height
$bc-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$bc-border-radius: 3px;
$bc-spacing: $bc-line-height * 1em;
$small-spacing: $bc-spacing / 2;
$bc-z-index: 0;


// colors

$grey: #4c5e74;
$blue: #0085ca;
$green: #1abc9c;
$red: #c0392b;
$yellow: #f1c40f;

// Font Colors
$action-color: transparent;
$bc-shadow: 0.5px 0.5px 0.5px rgba(black, .1);

//header height

$header-height-S: 63px;
$header-height-M: 80px;
$header-height-L: 100px;

// z-index 

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;

$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;