
$bc-font-family: 'Open Sans', sans-serif;
$bc-header: 'Montserrat', sans-serif;
$bc-border-radius: 5px;

// colors

$grey: #666;
$blue: #3a84df;
$green: #16a085;
$red: #fff;
$yellow: #fff;

// Font Colors
$action-color: none;
$bc-shadow: 0.5px 0.5px 0.5px rgba(black, .07);

// fonts 

//header height

$header-height-S: 60px;
$header-height-M: 80px;
$header-height-L: 100px;

// z-index 

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;

$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;